.adminMenu { 
    border-right: 1px solid black;
    height: 100vh;
}
.showResults {
    box-sizing: border-box;
    padding: 15px
}
.aptBtn {
    margin: 0 10px;
    
}
.updateImg {
    width: 130px
}