.topFoot {
  background: #340e2d;
  padding: 15px 0;
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .media {
      padding-bottom: 10px;
      @media (min-width: 768px) {
        padding-bottom: 0;
      }
      img {
        width: 45px;
        border-radius: 10px;
        margin: 0 4px;
      }
    }
  }
}
.bottomFoot {
  background: #3e1037;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  padding: 10px 0;
  span {
    font-size: 13px;
    color: white;
  }
  .rights {
    color: grey;
    white-space: normal;
  }
}