@import './variables.scss'; 

#header {
  border-bottom: 1px solid;
  position: relative;
  white-space: nowrap;
  padding: 10px 20px;
  p {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding: 0 4px;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      color: $purple-color;
    }
    &:hover a {
      color: $purple-color;
    }
  }
  a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
  }
}

.rightNav {
  height: 100%;
  align-items: center;
  .welcome {
    font-weight: bold;
    font-size: 20px;
  }
}



.menu {
  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: $purple-color;
    }
  }

  h3:hover {
    color: $purple-color;
  }

  .title {
    font-weight: bold;
  }

  ul {
    list-style: none;
  }

}
.openForm {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  white-space: normal;
  z-index: 9999;
  @media (min-width: 650px) {
    left: 10%;
    top: 10%;
    width: 700px;
    display: flex;
    height: auto
  }
  @media (min-width: 950px) {
    left: 26%;
  }
  h3 {
    font-size: 25px;
  }

  .formLeft {
    text-align: center;
    width: 100%;
    height: 60%;
    padding:60px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    form {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      input {
        width: 50%;
        padding: 5px;
        margin: 5px auto;
      }
      span {
        display: inline-block;
        text-align: end;
        padding-right: 20px;
      }
      .submit {
        width: 120px; 
        padding: 5px 20px;  
        border-radius: 20px;
        border: none;
        background: $purple-color;
        color: white;
      }
      .toAccount {
        padding-left: 10px;
        color: $purple-color;
        cursor: pointer;
        &:hover {
          color: $darkGold;
        }
      }
    }
    .options {
      button {
        display: block;
        width: 100%;
        border: 1px solid grey;
        border-radius: 20px;
        margin: 20px 0;
        padding: 3px 0;
        background: white;
      }
    }
  }
  .formRight {
    width: 100%;
    height: 40%;
    padding: 60px 10px;
    background: rgba(250, 199, 248, 0.43);
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: 650px) {
      width: 40%;
      height: auto;
    }
    div {
      padding-right: 65px;
      margin-bottom: 20px;
    }
    .submit {
      border: none;
      border-radius: 20px;
      width: 150px;
      background: $darkGold;
      color: white;
      margin-bottom: 20px;
    }
    a {
      color: $darkGold;
      &:hover {
        color: $purple-color;
      }
    }
  }
  .exitBtn {
    position: absolute;
    top: 5px;
    right:10px;
    width: 24px;
  }
  #radio {
    width: 15px;
  }
  a {
    padding: 0;
  }
  .signUp {
    margin: 20px 0;
  }
}
.map-container-2{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}


.map-container-2 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

