@import './variables.scss'; 

#header {
  border-bottom: 1px solid;
  position: relative;
  white-space: nowrap;
  padding: 10px 0;
}

.rightNav {
  height: 100%;
  align-items: center;
  .img {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $purple-color;
    }
  }
  p {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $purple-color;
      border-bottom: 2px solid $purple-color;
    }
    &:hover a {
      color: $purple-color;
    }
  }
  a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
  }
}


.burgerNav {
  margin: auto 0;
  padding-right: 10px;
  .burgerMenu {
    width: 20px;
    height: 3px;
    background: black;
    margin: 5px 0;
  }
}
@keyframes animation {
  0% {opacity: 0}
  100% {opacity: 1}
}


.menu {
  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: $purple-color;
    }
  }

  h3:hover {
    color: $purple-color;
  }

  .title {
    font-weight: bold;
  }

  ul {
    list-style: none;
  }

  @media(max-width: 768px) {
    width: 60%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    background: white;
    z-index: 999;
    overflow-x: scroll;
    display: none;
    .toggle {
      padding: 15px 5px;
      font-size: 20px;
      border-bottom: 1px solid grey;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
    }
    li {
      list-style: none;
      padding: 3px 0;
      font-size: 13px;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    .toggle {
      margin: 0;
      font-size: $header-font-size;
      padding: 15px 10px;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $purple-color;
        border-bottom: 2px solid $purple-color;
      }
    }
    .dropdown {
      position: absolute;
      width: 100%;
      padding: 20px 0;
      background: white;
      z-index: 999;
      left: 0;
      top: 54px;
      justify-content: space-around;
      animation: animation ease-in-out 1s;
      white-space: normal;
      &:hover {
        display: block;
      }
    }
  }
}
@media(max-width: 768px) {
  .burgerOpen {
    .menu {
      display: flex;
      flex-direction: column;
    }
  }
}

.rightBurger {
  width: 40%;
  background: black;
  height: 100vh;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 999;
  @media(min-width: 768px) {
    display: none;
  }
}

.openForm {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  white-space: normal;
  z-index: 9999;
  @media (min-width: 650px) {
    left: 10%;
    top: 10%;
    width: 800px;
    display: flex;
    height: auto
  }
  @media (min-width: 950px) {
    left: 20%;
  }
  h3 {
    font-size: 25px;
  }

  .formLeft {
    width: 100%;
    height: 60%;
    padding: 10px;
    padding-top: 30px;
    @media (min-width: 650px) {
      width: 60%;
      height: auto;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      input {
        width: 80%;
        padding: 5px;
        margin: 5px 0;
      }
      span {
        display: inline-block;
        text-align: end;
        padding-right: 20px;
      }
      .submit {
        width: 120px; 
        padding: 5px 20px;  
        border-radius: 20px;
        border: none;
        background: $purple-color;
        color: white;
      }
      .toAccount {
        padding-left: 10px;
        color: $purple-color;
        cursor: pointer;
        &:hover {
          color: $darkGold;
        }
      }
    }
    .options {
      button {
        display: block;
        width: 100%;
        border: 1px solid grey;
        border-radius: 20px;
        margin: 20px 0;
        padding: 3px 0;
        background: white;
      }
    }
  }
  .formRight {
    width: 100%;
    height: 40%;
    padding: 30px 10px;
    background: rgba(250, 199, 248, 0.43);
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: 650px) {
      width: 40%;
      height: auto;
    }
    div {
      padding-right: 65px;
      margin-bottom: 20px;
    }
    .submit {
      border: none;
      border-radius: 20px;
      width: 150px;
      background: $darkGold;
      color: white;
      margin-bottom: 20px;
    }
    a {
      color: $darkGold;
      &:hover {
        color: $purple-color;
      }
    }
  }
  .exitBtn {
    position: absolute;
    top: 5px;
    right:10px;
    width: 24px;
  }
  #radio {
    width: 15px;
  }
  a {
    padding: 0;
  }
  .signUp {
    margin: 20px 0;
  }
}
.map-container-2{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}


.map-container-2 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

