body {
  position: relative;
  height: 100vh; }

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load5 {
  0%,
  100% {
    -webkit-box-shadow: 0em -2.6em 0em 0em #7a11b4, 1.8em -1.8em 0 0em rgba(168, 56, 190, 0.81), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(168, 56, 190, 0.68), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    box-shadow: 0em -2.6em 0em 0em #7a11b4, 1.8em -1.8em 0 0em rgba(168, 56, 190, 0.81), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(168, 56, 190, 0.68), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
  12.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(163, 105, 180, 0.7), 1.8em -1.8em 0 0em #7a11b4, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    box-shadow: 0em -2.6em 0em 0em rgba(163, 105, 180, 0.7), 1.8em -1.8em 0 0em #7a11b4, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
  25% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(193, 73, 226, 0.24), 1.8em -1.8em 0 0em rgba(163, 105, 180, 0.7), 2.5em 0em 0 0em #7a11b4, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(193, 73, 226, 0.24), 1.8em -1.8em 0 0em rgba(163, 105, 180, 0.7), 2.5em 0em 0 0em #7a11b4, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  37.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(193, 73, 226, 0.23), 2.5em 0em 0 0em rgba(163, 105, 180, 0.7), 1.75em 1.75em 0 0em #7a11b4, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(193, 73, 226, 0.23), 2.5em 0em 0 0em rgba(163, 105, 180, 0.7), 1.75em 1.75em 0 0em #7a11b4, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  50% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(193, 73, 226, 0.23), 1.75em 1.75em 0 0em rgba(163, 105, 180, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(193, 73, 226, 0.23), 1.75em 1.75em 0 0em rgba(163, 105, 180, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  62.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(193, 73, 226, 0.24), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(193, 73, 226, 0.24), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  75% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  87.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(2, 2, 2, 0.95), 1.8em -1.8em 0 0em #020202, 2.5em 0em 0 0em #020202, 1.75em 1.75em 0 0em black, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    box-shadow: 0em -2.6em 0em 0em rgba(2, 2, 2, 0.95), 1.8em -1.8em 0 0em #020202, 2.5em 0em 0 0em #020202, 1.75em 1.75em 0 0em black, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; } }

@keyframes load5 {
  0%,
  100% {
    -webkit-box-shadow: 0em -2.6em 0em 0em #7a11b4, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    box-shadow: 0em -2.6em 0em 0em #7a11b4, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
  12.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(163, 105, 180, 0.7), 1.8em -1.8em 0 0em #7a11b4, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    box-shadow: 0em -2.6em 0em 0em rgba(163, 105, 180, 0.7), 1.8em -1.8em 0 0em #7a11b4, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
  25% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(193, 73, 226, 0.24), 1.8em -1.8em 0 0em rgba(163, 105, 180, 0.7), 2.5em 0em 0 0em #7a11b4, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(193, 73, 226, 0.24), 1.8em -1.8em 0 0em rgba(163, 105, 180, 0.7), 2.5em 0em 0 0em #7a11b4, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  37.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(193, 73, 226, 0.24), 2.5em 0em 0 0em rgba(163, 105, 180, 0.7), 1.75em 1.75em 0 0em #7a11b4, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(193, 73, 226, 0.24), 2.5em 0em 0 0em rgba(163, 105, 180, 0.7), 1.75em 1.75em 0 0em #7a11b4, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  50% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(193, 73, 226, 0.24), 1.75em 1.75em 0 0em rgba(163, 105, 180, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(193, 73, 226, 0.24), 1.75em 1.75em 0 0em rgba(163, 105, 180, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  62.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(193, 73, 226, 0.24), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(193, 73, 226, 0.24), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  75% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  87.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; } }

.main {
  padding: 200px 0;
  width: 100%;
  color: white;
  text-align: center; }
  .main h1 {
    font-size: 40px;
    padding-left: 10px; }
    @media (min-width: 850px) {
      .main h1 {
        font-size: 70px;
        padding-left: 0; } }
  .main h2 {
    font-size: 28px;
    padding: 10px; }
  .main button {
    height: 50px;
    width: 90px;
    border: none;
    padding: 0;
    background: #a103fc;
    color: white;
    text-decoration: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }

.slider {
  overflow-x: scroll;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 30px 0;
  padding: 5px 0; }
  @media (min-width: 1500px) {
    .slider {
      overflow-x: hidden; } }

.slideMain {
  padding-top: 10px;
  width: 70%;
  margin: auto; }
  .slideMain .homepageAptBox {
    margin: 0 10px;
    width: 350px; }

.cityInfo {
  padding: 40px 0; }
  .cityInfo h2 {
    padding-left: 20px; }
  .cityInfo .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px 0;
    margin: 0 auto; }
    @media (max-width: 500px) {
      .cityInfo .info {
        max-width: 467px; } }
    .cityInfo .info:hover {
      -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75); }
    .cityInfo .info .test {
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .cityInfo .info .test p {
        margin: 0; }
      .cityInfo .info .test .statNum {
        font-size: 30px;
        color: darkgoldenrod; }

body {
  position: relative;
  height: 100vh; }

#header {
  border-bottom: 1px solid;
  position: relative;
  white-space: nowrap;
  padding: 0 20px; }
  #header p {
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding: 0 4px;
    cursor: pointer;
    font-size: 20px; }
    #header p:hover {
      color: #a103fc; }
    #header p:hover a {
      color: #a103fc; }
  #header a {
    text-decoration: none;
    color: black;
    padding: 0 5px; }

.rightNav {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .rightNav .welcome {
    font-weight: bold;
    font-size: 20px; }

.menu a {
  text-decoration: none;
  color: black; }
  .menu a:hover {
    color: #a103fc; }

.menu h3:hover {
  color: #a103fc; }

.menu .title {
  font-weight: bold; }

.menu ul {
  list-style: none; }

.openForm {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  white-space: normal;
  z-index: 9999; }
  @media (min-width: 650px) {
    .openForm {
      left: 10%;
      top: 10%;
      width: 700px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: auto; } }
  @media (min-width: 950px) {
    .openForm {
      left: 26%; } }
  .openForm h3 {
    font-size: 25px; }
  .openForm .formLeft {
    text-align: center;
    width: 100%;
    height: 60%;
    padding: 60px 10px;
    background-repeat: no-repeat;
    background-size: cover; }
    .openForm .formLeft form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 10px; }
      .openForm .formLeft form input {
        width: 50%;
        padding: 5px;
        margin: 5px auto; }
      .openForm .formLeft form span {
        display: inline-block;
        text-align: end;
        padding-right: 20px; }
      .openForm .formLeft form .submit {
        width: 120px;
        padding: 5px 20px;
        border-radius: 20px;
        border: none;
        background: #a103fc;
        color: white; }
      .openForm .formLeft form .toAccount {
        padding-left: 10px;
        color: #a103fc;
        cursor: pointer; }
        .openForm .formLeft form .toAccount:hover {
          color: darkgoldenrod; }
    .openForm .formLeft .options button {
      display: block;
      width: 100%;
      border: 1px solid grey;
      border-radius: 20px;
      margin: 20px 0;
      padding: 3px 0;
      background: white; }
  .openForm .formRight {
    width: 100%;
    height: 40%;
    padding: 60px 10px;
    background: rgba(250, 199, 248, 0.43);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
    @media (min-width: 650px) {
      .openForm .formRight {
        width: 40%;
        height: auto; } }
    .openForm .formRight div {
      padding-right: 65px;
      margin-bottom: 20px; }
    .openForm .formRight .submit {
      border: none;
      border-radius: 20px;
      width: 150px;
      background: darkgoldenrod;
      color: white;
      margin-bottom: 20px; }
    .openForm .formRight a {
      color: darkgoldenrod; }
      .openForm .formRight a:hover {
        color: #a103fc; }
  .openForm .exitBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 24px; }
  .openForm #radio {
    width: 15px; }
  .openForm a {
    padding: 0; }
  .openForm .signUp {
    margin: 20px 0; }

.map-container-2 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container-2 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.topFoot {
  background: #340e2d;
  padding: 15px 0; }
  .topFoot .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .topFoot .social {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    .topFoot .social .media {
      padding-bottom: 10px; }
      @media (min-width: 768px) {
        .topFoot .social .media {
          padding-bottom: 0; } }
      .topFoot .social .media img {
        width: 45px;
        border-radius: 10px;
        margin: 0 4px; }

.bottomFoot {
  background: #3e1037;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  padding: 10px 0;
  text-align: center; }
  .bottomFoot span {
    font-size: 13px;
    color: white; }
  .bottomFoot .rights {
    color: grey;
    white-space: normal; }

#apartmentBox {
  min-height: calc(100vh - 140px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px; }
  @media (min-width: 560px) {
    #apartmentBox {
      padding: 0 50px; } }

#container {
  padding-bottom: 30px; }

.galleryHeader {
  padding-bottom: 15px; }

.box {
  -webkit-box-shadow: 0 4px 11px -5px rgba(0, 0, 0, 0.96);
  box-shadow: 0 4px 11px -5px rgba(0, 0, 0, 0.96);
  width: 100%;
  margin-bottom: 15px;
  min-width: 264px;
  white-space: normal; }
  .box:hover {
    -webkit-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.96);
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.96); }

.imageBox {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.infoBox {
  padding: 7px 0;
  height: 105px; }
  .infoBox p {
    padding: 0 10px;
    margin: 0; }
  .infoBox .info {
    color: black; }
  .infoBox .bold {
    font-weight: bold; }
  .infoBox .agentBtn {
    background: transparent;
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod;
    border-radius: 15px;
    margin: 5px 8px;
    padding: 4px 10px; }
    .infoBox .agentBtn:hover {
      border: 1px solid transparent; }

.absTopBox {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  padding: 3px;
  background: #c287ff;
  color: white; }

.absBottomBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white; }
  .absBottomBox p {
    margin: 0;
    font-size: 13px; }
  .absBottomBox .price {
    font-size: 22px;
    font-weight: bold; }

@-webkit-keyframes imageHover {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes imageHover {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination .page-item {
    border: 1px solid #a103fc;
    margin: 0 6px;
    padding: 5px 8px;
    font-size: 20px;
    border-radius: 4px;
    color: #a103fc;
    cursor: pointer; }
    .pagination .page-item:hover {
      border: 1px solid darkgoldenrod;
      color: darkgoldenrod; }
  .pagination .clicked {
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod; }

.filters {
  white-space: nowrap; }
  @media (min-width: 560px) {
    .filters {
      padding: 0 50px; } }

.citySearch input {
  border: 1px solid grey;
  border-right: none;
  padding: 6px 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.searchIcon {
  padding: 11px;
  background: darkgoldenrod;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }
  .searchIcon:hover {
    cursor: pointer; }

.searchBtn {
  position: relative; }
  .searchBtn h3 {
    font-size: 15px;
    background: lightgrey;
    padding: 5px;
    padding-right: 100px; }

.priceFilter, .beds, .property {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  z-index: 999;
  padding-bottom: 20px; }

.priceFilter input {
  width: 80px;
  margin-left: 5px; }

.btn {
  border: 1px solid grey; }

.searchResults {
  padding-top: 10px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .searchResults h4 {
    margin: 0; }
  .searchResults p {
    margin: 0;
    padding-left: 5px;
    font-size: 18px; }

.radiobtn {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

.beds input[type='radio']:checked + p {
  border: 1px solid #a103fc;
  color: #a103fc; }

.beds p {
  padding: 10px;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center; }
  .beds p:hover {
    border: 1px solid #a103fc;
    color: #a103fc; }

.filterText {
  text-align: center;
  display: block;
  padding: 15px 0; }

.priceFilter label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 30px;
  color: grey; }
  .priceFilter label:hover {
    color: #a103fc; }

.priceFilter input[type='radio']:checked + p {
  color: #a103fc; }

.search {
  border-radius: 10px;
  color: #a103fc;
  border: 1px solid #a103fc;
  margin-right: 10px; }

.property img {
  width: 60px;
  border: 2px solid;
  border-radius: 50%;
  padding: 7px; }

.property {
  width: 400px; }
  .property .propertyTypes {
    white-space: nowrap;
    font-size: 14px; }
  .property label {
    margin: 10px 0; }
    .property label:hover img {
      border: 2px solid #a103fc; }
    .property label:hover {
      color: #a103fc; }

.carouselWrapper {
  padding: 40px 0; }

.singleMainImg {
  margin: auto;
  height: 400px;
  width: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.extraImg {
  margin-top: 10px;
  width: 70px;
  height: 80px;
  overflow: hidden;
  cursor: pointer; }
  @media (max-width: 780px) {
    .extraImg {
      width: 100px;
      height: 100px; } }
  .extraImg img {
    width: 100%;
    height: 100%; }

@media (max-width: 780px) {
  .moreImgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.singleApt {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
  white-space: nowrap; }
  .singleApt p {
    padding: 0 5px;
    margin-bottom: 0; }
  .singleApt a {
    color: black;
    text-decoration: none; }
  .singleApt .fa-search {
    background: #a103fc;
    color: white;
    padding: 9px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .singleApt input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid grey;
    padding: 4px 0; }

.customContainer {
  margin-right: 2%;
  margin-left: 2%; }
  @media (min-width: 950px) {
    .customContainer {
      margin-right: 10%;
      margin-left: 10%; } }

.details {
  margin-right: 180px; }
  @media (min-width: 1100px) {
    .details {
      margin-right: 470px; } }
  .details p {
    padding-right: 15px;
    color: grey;
    font-size: 18px; }
  .details span {
    color: black; }
  .details img {
    width: 180px;
    margin-right: 80px; }

#dropDown {
  margin-bottom: 70px; }
  #dropDown p {
    padding: 20px 0;
    font-size: 15px;
    margin: 0; }
  #dropDown img {
    width: 30px;
    margin: 0;
    margin-right: 10px; }
  #dropDown h4 {
    display: inline-block;
    color: black; }
  #dropDown .section {
    padding: 25px 0; }
    #dropDown .section:hover {
      cursor: pointer; }
    #dropDown .section .inner {
      padding-left: 40px; }
      #dropDown .section .inner p {
        color: black; }

.adminMenu {
  border-right: 1px solid black;
  height: 100vh;
  min-width: 150px; }
  .adminMenu h5 {
    color: grey; }
  .adminMenu .current {
    color: black; }

.showResults {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px; }

.aptBtn {
  margin: 0 10px; }

.updateImg {
  width: 130px; }

.stats {
  padding: 10px; }

.userStat {
  padding: 0 15px; }
  .userStat .singleUser {
    border: 1px dotted black;
    padding-bottom: 5px; }
    .userStat .singleUser h5 {
      font-size: 23px;
      text-align: center; }
    .userStat .singleUser p {
      font-weight: bold; }
    .userStat .singleUser span {
      font-weight: normal; }
    .userStat .singleUser .historyBlock {
      border-top: 1px solid; }

.block {
  display: block;
  margin-top: 5px; }
  .block input {
    display: block; }
  .block textarea {
    width: 80%;
    height: 100px; }

.approval {
  padding-bottom: 20px;
  text-align: center; }

.statusChange img {
  width: 30px;
  margin: 0 10px;
  border-radius: 50%; }

[type=radio] + img {
  cursor: pointer; }

.statusChange input[type='radio']:checked + img {
  background: #c287ff; }

.userMenu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden; }
  .userMenu h5 {
    color: grey; }
  .userMenu .current {
    color: black; }

.mainImage {
  width: 130px;
  height: 100px;
  margin: 0 5px;
  background-position: center;
  background-size: cover; }

h4 {
  color: darkgoldenrod;
  padding: 10px 0; }

h5 {
  cursor: -webkit-grab;
  cursor: grab; }

.addApt a {
  text-decoration: none; }

.aptBtn {
  border: none;
  border-radius: 8px;
  background-color: #a103fc;
  color: white;
  padding: 6px 10px; }
  .aptBtn:hover {
    background-color: darkgoldenrod; }
  .aptBtn:focus {
    outline: 0; }

.updateApt {
  border: 2px solid #c287ff;
  padding: 5px;
  z-index: 9999;
  background: white;
  width: 500px; }

.inputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px 0; }
  .inputArea label {
    font-weight: bold; }
  .inputArea .delete {
    cursor: pointer; }

.submit {
  background-color: darkgoldenrod;
  border: none;
  color: white;
  padding: 5px 8px; }
  .submit:hover {
    background-color: #a103fc; }

.addApartment {
  padding: 10px 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right; }
  .addApartment h1 {
    text-align: center; }

.form {
  width: 90%;
  margin: auto; }
  .form label {
    font-weight: bold; }
  .form .submitWrap {
    text-align: center; }
    .form .submitWrap .submit {
      padding: 5px 15px; }

.innerDetails {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .innerDetails input {
    width: 200px; }

.file {
  width: 250px; }
