.userMenu {
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
    h5 {
        color: grey;
    }
    .current {
        color: black;
    }
}
.mainImage {
    width: 130px;
    height: 100px;
    margin: 0 5px;
    background-position: center;
    background-size: cover;
}
h4 {
    color: $darkGold;
    padding: 10px 0; 
}
h5 {
    cursor: grab;
}
.addApt {
    a {
        text-decoration: none;
    }
}
.aptBtn {
    border: none;
    border-radius: 8px;
    background-color: $purple-color;
    color: white;
    padding: 6px 10px;
    &:hover {
        background-color: $darkGold;
    }
    &:focus {
        outline: 0;
    }
}
.updateApt {
    border: 2px solid $overImageTextBgrnd;
    padding: 5px;
    z-index: 9999;
    background: white;
    width: 500px;
}
.inputArea {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    label {
        font-weight: bold;
    }
    .delete {
        cursor: pointer;
    }
}
.submit {
    background-color: $darkGold;
    border: none;
    color: white;
    padding: 5px 8px;
    &:hover {
        background-color: $purple-color;
    }
}
