// COLORS
$purple-color: rgb(161, 3, 252);
$overImageTextBgrnd: #c287ff;
$darkGold: darkgoldenrod;

// SIZES
$header-font-size: 18px;
$h1-small: 40px;
$h1-large: 70px;
$h2-small: 28px;
$main-search-list: 18px;
$search-bar-width: 500px;
$search-bar-height: 50px;
$search-button-width: 90px;
$homePageh1: 30px;
//Gallery
$overImageTextSize: 12px;
$overImageTextPosition: 10px;
$priceFontSize: 22px;

body {
  position: relative;
  height: 100vh;
} 